

@model List<GetArticleVM>



@foreach (var item in Model)
{


<div class="card card-widget col-md-10 offset-sm-1">
    <div class="card-header">
        <div class="user-block">
            <img class="img-circle" style="border-radius:30%;" src="@item.AppUser.ImagePath" alt="User Image">
            <span class="username">@item.AppUser.FullName</span>
            <span class="description">Shared publicly - @item.CreatedDate</span>


        </div>
        <!-- /.user-block -->
        <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <img class="img-fluid pad" src="@item.ImagePath" alt="Photo">

        <p><b>@item.Title</b></p>

        <p><b>@item.Content</b></p>



    </div>
    <!-- /.card-body -->
    <div class="card-footer card-comments">

        <!-- /.card-comment -->
        <div class="card-comment">


        </div>
        <!-- /.card-comment -->
    </div>





    <form>

        <a class="btn btn-info btn-" asp-action="List">
            <i class="fas fa-backspace">
            </i>
            Geri Dön
        </a>
    </form>
   


    <!-- /.card-footer -->
    <!-- /.card-footer -->
</div>



}



